.mainContainer {
  // outline: 3px solid white;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
  }


}

@media only screen and (max-width: 600px) {
   .mainContainer {
    h1 {
      font-size: 1.3rem;
    }
   }
 
 }
 
 @media only screen and (max-width: 768px) {
  .mainContainer {
   h1 {
     font-size: 1.5rem;
   }
  }

} 