.mainContainer {
  display: flex;
  width: 100%;
  padding: 1.5rem 1.5rem;
  position: relative;
  align-items: center;
  justify-content: center;
  // outline: 3px solid #FFFFFF;
  background: linear-gradient(180deg, #523E93 0%, rgba(82, 62, 147, 0.22) 100%);
  // width: fit-content;

  .menubar {
    position: absolute;
    left: 0;
    background-color: #C259D3;
    // width: 50rem;
  }


  .menuBarContentClose {
    background-color: #838bd3;
    position: absolute;
    top: 0;
    left: 0;
    // width: 50%;
    padding: 2rem;
    height: 35rem;
    z-index: 10000 !important;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    // transform: translateX(0);
    animation: move-right 1000ms ease-in-out normal forwards;


    &:before {
      // animation: move-right 1000ms ease-in-out normal forwards;
      // transform: translateX(0);
      // -webkit-transform: translateX(0);



      // @keyframes move-right {
      //    from {transform: translateX(0);
      //     -webkit-transform: translateX(0);}
      //   to { transform: translateX(-100%);  -webkit-transform: translateX(-100%);}
      // }
    }



    @keyframes move-right {
       from {transform: translateX(0);
        -webkit-transform: translateX(0);}
      to { transform: translateX(-100%);  -webkit-transform: translateX(-100%);}
    }


    .logoMenuBarItems {
      // outline: 3px solid orange;
      display: flex;
      flex-direction: column;
      // margin: 2rem;
      // width: fit-content;
      width: 100%;
      height: 90%;
      // padding: .5rem;
      align-items: center;
      justify-content: space-around;
      // justify-content: center;

      .compPart { 
        position: relative;
        // outline: 3px solid coral;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .displayMenu {
          display: block;
        }

        .displayNone {
          display: none;
        }


     

        small {
          position: absolute;
          font-size: .9rem;
          top: 25px;
          background: #127adb;
          color: #FFFFFF;
          padding: .3rem 1rem;
          font-weight: 700;
          border-radius: 10px;
          transition: all 500ms ease-in-out;
          animation: showmenu 200ms ease-in-out 1 normal forwards;
          &:hover {
            background: darken($color: #C259D3, $amount: 20%);
          }
        }

        @keyframes  showmenu {
          from { transform: translateY(-30%); opacity: 0%; }
          to { transform: none; opacity: 100%;}
        }
      }

      p {
        // list-style-type: none;
        font-size: 1.2rem;
        color: #FFFFFF;
        // opacity: 0%;
        // margin-right: .8rem;
        margin: 0 .5rem;
        // font-weight: 500;
        // margin: auto !important;
        cursor: pointer;

        
        img {
          // margin-top: .45rem;
          width: 2rem;
          height: 2rem;
          // margin: auto !important;
        }


        button {
          outline: none;
          border: 2px solid #FFFFFF;
          border-radius: 2rem;
          background: transparent;
          font-size: 1.2rem;
          color: #FFFFFF;
          width: fit-content;
          padding: .6rem 1.4rem;
          font-family: "Poppins";
          transition: opacity 300ms ease-in;
          &:hover {
            opacity: 60%;
          } 
        }
      }
    }
  }



  .menuBarContent {
    background-color: #838bd3;
    // background-color: red;
    position: absolute;
    // position: fixed;
    top: 0;
    left: 0;
    // width: 100;
    padding: 2rem;
    height: 35rem;
    z-index: 10000 !important;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    // transform: translateX(0);
    animation: move-left 1000ms ease-in-out normal forwards;


 

    @keyframes move-left {

      to { transform: translateX(0);  -webkit-transform: translateX(0);}
    }

    .logoMenuBarItems {
      // outline: 3px solid orange;
      display: flex;
      flex-direction: column;
      // margin: 2rem;
      // width: fit-content;
      width: 100%;
      height: 90%;
      // padding: .5rem;
      align-items: center;
      justify-content: space-around;
      // justify-content: center;

      .compPart { 
        position: relative;
        // outline: 3px solid coral;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .displayMenu {
          display: block;
        }

        .displayNone {
          display: none;
        }


     

        small {
          position: absolute;
          font-size: .9rem;
          top: 25px;
          background: #127adb;
          color: #FFFFFF;
          padding: .3rem 1rem;
          font-weight: 700;
          border-radius: 10px;
          transition: all 500ms ease-in-out;
          animation: showmenu 200ms ease-in-out 1 normal forwards;
          &:hover {
            background: darken($color: #C259D3, $amount: 20%);
          }
        }

        @keyframes  showmenu {
          from { transform: translateY(-30%); opacity: 0%; }
          to { transform: none; opacity: 100%;}
        }
      }

      p {
        // list-style-type: none;
        font-size: 1.2rem;
        color: #FFFFFF;
        // opacity: 0%;
        // margin-right: .8rem;
        margin: 0 .5rem;
        // font-weight: 500;
        // margin: auto !important;
        cursor: pointer;

        
        img {
          // margin-top: .45rem;
          width: 2rem;
          height: 2rem;
          // margin: auto !important;
        }


        button {
          outline: none;
          border: 2px solid #FFFFFF;
          border-radius: 2rem;
          background: transparent;
          font-size: 1.2rem;
          color: #FFFFFF;
          width: fit-content;
          padding: .6rem 1.4rem;
          font-family: "Poppins";
          transition: opacity 300ms ease-in;
          &:hover {
            opacity: 60%;
          } 
        }
      }
    }
  }



  .mainCover {
    // outline: 3px solid #FFFFFF;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;


    .menuOutlined {
      color: #FFFFFF;
      font-size: 2rem;
      display: none;
    }
  }

  .logoCaptionPart {
    // outline: 3px solid #FFFFFF;
    margin-left: 4rem;
    // width: fit-content;
    // flex: 1;
    img {
      width: 18rem;
      height: 5rem;
    }

  }


  .logoMenuPart {
    // outline: 3px solid red;
    // flex: 2;
    width: 50%;
    
      .logoMenuCover {
        // outline: 3px solid red;
        position: relative;
        .logoMenuMain {
          display: flex;
          // outline: 3px solid red;
          // padding: 1rem;
          align-items: center;
          width: 100%;
          // justify-content: space-between;
          margin-left: 1rem;

          .logoMenuMainItems {
            // outline: 3px solid orange;
            display: flex;
            // width: fit-content;
            width: 100%;
            // padding: .5rem;
            align-items: center;
            justify-content: space-around;
            // justify-content: center;
  
            .compPart { 
              position: relative;
              // outline: 3px solid coral;
              justify-content: center;
              align-items: center;
              display: flex;
              flex-direction: column;
              .displayMenu {
                display: block;
              }
  
              .displayNone {
                display: none;
              }
  
  
           
  
              small {
                position: absolute;
                font-size: .9rem;
                top: 25px;
                background: #C259D3;
                color: #FFFFFF;
                padding: .3rem 1rem;
                font-weight: 700;
                border-radius: 10px;
                transition: all 500ms ease-in-out;
                animation: showmenu 200ms ease-in-out 1 normal forwards;
                &:hover {
                  background: darken($color: #C259D3, $amount: 20%);
                }
              }
  
              @keyframes  showmenu {
                from { transform: translateY(-30%); opacity: 0%; }
                to { transform: none; opacity: 100%;}
              }
            }
  
            p {
              // list-style-type: none;
              font-size: .95rem;
              color: #FFFFFF;
              // opacity: 0%;
              // margin-right: .8rem;
              margin: 0 .5rem;
              // font-weight: 500;
              // margin: auto !important;
              cursor: pointer;
  
              
              img {
                // margin-top: .45rem;
                width: 2rem;
                height: 2rem;
                // margin: auto !important;
              }
    
    
              button {
                outline: none;
                border: 2px solid #FFFFFF;
                border-radius: 2rem;
                background: transparent;
                font-size: .95rem;
                color: #FFFFFF;
                width: fit-content;
                padding: .6rem 1.4rem;
                font-family: "Poppins";
                transition: opacity 300ms ease-in;
                &:hover {
                  opacity: 60%;
                } 
              }
            }
          }
         
        }
      }
  }

 
}

.walletCred {
  display: flex;
  // outline: 3px solid red;
  align-items: center;
  justify-content: flex-start;
  // width: 10rem;
  padding: .5rem;
  border-radius: 10px;
  background: #523E93;
  box-shadow: 4px 4px 15px 0px #00000099;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
  // text-overflow: ellipsis;
  

  img {
    margin: auto;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
  }
  .addr {
  font-size: .9rem;
  font-weight: 700;
  margin: auto;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    // text-overflow: ellipsis;
    // width: 50%;
  }
 
  .addrIcon {
    font-size: .9rem;
    font-weight: 700;
    margin: auto;
  }
}

.dropdownWallet {
  color: crimson;
  font-size: .75rem;
  font-weight: 600;
  user-select: none;
}

.dropdowndisconnect {
  border: none;
  outline: none;
  background: #1809ff;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px #00000099;
  color: #FFFFFF;
  font-size: .85rem;
  text-align: center;
  font-weight: 500;
  padding: .5rem 1rem;
  transition: all 100ms ease-in-out;



  &:hover {
    background: darken($color: #1809ff, $amount: 5%);
  }
}


@media only screen and (max-width: 600px) {

  
  .logoMenuBarItems {
    p {
      font-size: 1rem !important;
    }
  

      button {
        font-size: .9rem !important;
        padding: .6rem .9rem !important;
      }
  }

  .menuBarContent {
    width: 65% !important;
  }

  .menuBarContentClose {
    width: 65% !important;
  }
}


@media only screen and (max-width: 768px) {

 .mainContainer {
  // outline: 3px solid #c01345;
 }

 .logoCaptionPart {
  // outline: 3px solid #FFFFFF;
  margin-left: 4rem;
  // width: fit-content;
  // flex: 1;
  img {
    width: 12.5rem !important;
    height: 5rem;
  }

}
 

  .logoMenuPart {
    display: none !important;
  }

  .mainCover {
    // outline: 3px solid #C259D3;
    display: flex;
    width: 50% !important;
    align-items: center;
    justify-content: space-between;


    .menuOutlined {
      font-size: 2.5rem !important;
      display: block !important;
    }
  }
}


@media only screen and (max-width: 992px) {

  .logoMenuMainItems {
     p {
        font-size: 0.85rem !important;
     }
  }


  .mainCover {
    //  outline: 3px solid #FFFFFF;
     width: 100% !important;
  }

  .mainContainer {
    // outline: 3px solid #FFFFFF;
    display: flex;
    width: 100%;
    // padding: 1.5rem 0 !important;
  }

  .logoCaptionPart {
    // outline: 3px solid #FFFFFF;
    margin-left: 0rem !important;
  }

  .logoMenuPart {
    // outline: 3px solid blue !important;
    // flex: 2;
    width: 50% !important;
  }
}



@media only screen and (max-width: 1024px) {
  .logoMenuPart {
    // outline: 3px solid blue !important;
    // flex: 2;
    width: 60% !important;
  }

  .mainCover {
    width: 100% !important;
  }

  .logoCaptionPart {
    // outline: 3px solid #FFFFFF;
    margin-left: 0rem !important;
  }
}