.mainContainer {
  margin-top: 3rem;
  // outline: 3px solid red;
  // width: 80%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin-left: 5rem;
  .caption {
    // outline: 3px solid #fff;
    width: 80%;
    margin-bottom: 4rem;
    h1 {
      color: #ffff;
      font-weight: 700;
      font-size: 3rem;
    }
  }

  .mainPart {
    width: 80%;
    background: #523E93;
    border-radius: 30px;
    padding: 2rem 1.2rem;
    margin-bottom: 15rem;
    


    .mainPartInner {
      display: flex;
      border-radius: 30px;
      background: darken($color: #523E93, $amount: 3.5);
      height: 100%;
      width: 100%;
      position: relative;
      // align-items: center;
      // justify-content: center;
      // outline: 3px solid orange;

      .innerDescPart {
        // outline: 3px solid orange;
        margin-top: 5rem;
        flex: 40%;
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 2rem 3rem;

        h2 {
          color: #fff;
          font-size: 2rem;
          font-weight: 600;
        }


        h3 {
          margin-top: 1rem;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 600;
        }



        .innerDescItem {
          // margin-bottom: 3rem;

          h4 {
            font-size: 2rem;
            font-size: 800;
            color: #fff;
          }

          p {
            margin-top: -.3rem;
            font-size: 1rem;
            color: #fff;
            font-weight: normal;
            line-height: 2rem;
            // outline: 3px solid pink;
            width: 78%;
          }
        }
      }

      .innerImgPart {
        flex: 1%;
        // outline: 3px solid red;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        // margin-top: 1rem;
        // justify-content: space-between;
        position: absolute;
        right: -22%;
        top: 15%;
        
        

      

        .imageUpper{
          // object-fit: cover;
          // margin-top: 6rem;
          height: 20rem;
          width: 28rem;
          // margin-bottom: 3rem;
          // transform: scale(.5);
        }

        .imageLower{
          // object-fit: cover;
          margin-top: -15rem;
          z-index: 10000;
          // margin-bottom: 2rem;
          // // width: 100%;
           width: 28rem;
          height: 72rem;
          // transform: scaleY(1.2);
        }
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .mainPart {
    margin-bottom: 10rem !important;
  }
  .caption {
    //  margin-bottom: 5rem !important;
    h1 {
      font-size: 2.5rem !important;
    }
  }
}


@media only screen and (max-width: 768px) {
  .caption {
    text-align: center;
    h1 {
      font-size: 2.2rem !important;
    }
  }

  .innerImgPart {
    display: none !important;
  }

  .mainPart {
    width: 90% !important;
    margin-bottom: 5rem !important;
  
    .mainPartInner {
      text-align: center;
    }
  }


  
  .innerDescPart {
    // outline: 3px solid orange;
    margin-top: 5rem;
    flex: 40%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 2rem 3rem;

    h2 {
      font-size: 1.5rem !important;
    }


    h3 {
      font-size: 1.2rem !important;
    }



    .innerDescItem {
      // margin-bottom: 3rem;

      h4 {
        font-size: 1.5rem !important;
      }

      p {
        margin-top: -.3rem;
        font-size: .9rem !important;
        color: #fff;
        font-weight: normal;
        line-height: 2rem;
        // outline: 3px solid pink;
        width: 100% !important;
      }
    }
  }

}

@media only screen and (max-width: 600px) {

  .mainContainer {
    margin-top: 3rem;
    margin-left: 2rem !important;
  }


  .caption {
    width: 90% !important;
    margin-bottom: 2rem !important;
    h1 {
      font-size: 1.8rem !important;
    }
  }

  .innerImgPart {
    display: none !important;
  }

  .mainPart {
    width: 90% !important;
  
    .mainPartInner {
      text-align: center;
    }
  }


  
  .innerDescPart {
    // outline: 3px solid orange;
    margin-top: 5rem;
    flex: 40%;
    display: flex;
    flex-direction: column;
    padding: .5rem !important;

    h2 {
      font-size: 1rem !important;
    }


    h3 {
      font-size: .9rem !important;
    }



    .innerDescItem {
      margin-bottom: 2rem;

      h4 {
        font-size: 1.2rem !important;
      }

      p {
        margin-top: -.3rem;
        font-size: .8rem !important;
        color: #fff;
        font-weight: normal;
        line-height: 2rem;
        // outline: 3px solid pink;
        width: 100% !important;
      }
    }
  }

}