.mainContainer {
  border-radius: 30px !important;
  // background: #523E93;
  z-index: 10000;

  .closeMenu {
    // outline: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .closeIcon {
      background-color: darken($color: #523e93, $amount: 10%);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: gray;
      transition: background-color 100ms ease-in-out;
      // opacity: 80%;
      &:hover {
        background-color: darken($color: #523e93, $amount: 15%);
        width: 3rem;
        height: 3rem;
        // font-size: 1.3rem;
      }
    }
  }

  .modalContent {
    // outline: 3px solid red;
    margin-bottom: 3rem;

    h4 {
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
    }

    .connectOptions {
      // display: flex;
      padding: 1rem 1rem 1.2rem 1rem;
      border-bottom: 1px solid darken($color: #523e93, $amount: 10%);
      img {
        width: 4rem;
        height: 4rem;
      }

      span {
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: 700;
        margin-left: 1.5rem;
        cursor: pointer;
      }

      .unsupported {
        color: orangered;
        font-size: 0.9rem;
        font-weight: normal;
        margin-left: 1.5rem;
        // outline: 3px solid slateblue;
      }

      .loadingPart {
        margin-left: 2.5rem;
        // outline: 3px solid slateblue;
      }
    }
  }

  .errorPart {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    // font-family: cursive;
    color: orange;
  }
}

@media only screen and (max-width: 600px) {
  .errorPart {
    font-size: 0.85rem !important;
  }

  .modalContent {
    // outline: 3px solid red;
    margin-bottom: 3rem;

    h4 {
      color: #ffffff;
      font-size: 1rem !important;
      text-align: center;
    }
  }

  .connectOptions {
    // display: flex;
    // padding: 1rem 1rem 1.2rem 1rem;
    // border-bottom: 1px solid darken($color: #523E93, $amount: 10%);
    img {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }

    span {
      font-size: 0.9rem !important;
      color: #ffffff;
      font-weight: 700;
      margin-left: 1.2rem !important;
      cursor: pointer;
    }

    .unsupported {
      font-size: 0.8rem !important;
      margin-left: 1.1rem !important;
      // outline: 3px solid slateblue;
    }

    .loadingPart {
      margin-left: 1.2rem !important;
      // outline: 3px solid slateblue;
    }
  }
}
